<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>CamOnly</string>
    <key>CFBundleIdentifier</key>
    <string>com.mai.camonly</string>
    <key>NSCameraUsageDescription</key>
    <string>App cần quyền truy cập camera để hiển thị hình ảnh.</string>
</dict>
</plist>
